<h2>Products</h2>

<table border="1">
    <thead>
        <td> ID </td>
        <td> Title </td>
        <td> Description </td>
        <td> Price </td>
        <td> Thumbnail </td>
        <td> Code </td>
        <td> Stock </td>
        <td> Category </td>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td> {{this.id}} </td>
            <td> {{this.title}} </td>
            <td> {{this.description}} </td>
            <td> {{this.price}} </td>
            <td> {{this.thumbnail}} </td>
            <td> {{this.code}} </td>
            <td> {{this.stock}} </td>
            <td> {{this.category}} </td>
        </tr>
        {{/each}}
    </tbody>

</table>
<br>
<a href="/">Volver</a>
<br>
<a href="/form-products">Crear productos</a>